body {
    background: url('https://www.our-voices.org.uk/assets/images/Network-diagram.png');
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

li {
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
}

a:visited {
    color: green;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 60px auto;
    justify-content: space-between;
}

img {
    max-width: 200px;
    height: 200px;;
}

.details {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 60px auto;
    justify-content: space-between;
    font-weight: bold;
}