body {
    background: url('https://www.our-voices.org.uk/assets/images/Network-diagram.png');
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.containe {
    width: 70%;
    margin: 0 auto;
}

.details {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 60px auto;
    justify-content: space-between;
    font-weight: bold;
}