* {
    box-sizing: border-box;
    margin: 0 auto
}

.fifth-task {
    background: url('https://wallpaperaccess.com/full/5067855.jpg');
    width: 100%;
    height: 100vh;
    color: white;
    padding: 40px
}

.fifth-task > h1:first-letter {
    font-size: 50px;
}

.green-list {
    color: rgb(83, 190, 83);
    font-weight: bold;
    margin-top: 20px;
}
