* {
    box-sizing: border-box;
    margin: 0 auto
}

.third-task {
    width: 400px;
    height: 200px;
    padding-top: 50px;
    color: white;
    background-color: #123457;
    text-align: center;
    font-size: 18px;
}