* {
    box-sizing: border-box;
    margin: 0 auto
}

.seventh-task {
    background: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg');
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.child {
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid green;
    background-color: white;
}