* {
    box-sizing: border-box;
    margin: 0 auto
}

.eight-task {
    width: 100%;
    height: 600px;
    background: rgb(202,192,190);
    background: linear-gradient(133deg, rgba(202,192,190,1) 0%, rgba(134,129,125,1) 100%);
}

.gau {
    position: absolute;
}

.g {
    margin: 0;
    position: absolute;
    font-size: 185px;
    line-height: 155px;
}

.a {
    margin: 0;
    position: absolute;
    font-size: 185px;
    left: 100px;
    top: 100px;
    line-height: 155px;
}

.u {
    margin: 0;
    position: absolute;
    font-size: 185px;
    left: 180px;
    line-height: 155px;
}

.details {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}