* {
    box-sizing: border-box;
    margin: 0 auto
}

.second-task {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    background-color: #ffff05;
    padding-left: 10px;
}

.second-task > h3 {
    margin: 20px 0 20px 0;
}

.second-task > p {
    font-size: 14px;
}